# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/BrokenGPXFile-1.gpx
src/ExampleGPXFile-1-Segment.gpx
.gitignore
src/ExampleGPXFile-2-Segments.gpx
src/BrokenGPXFile-2.gpx
src/assets/icons/apple_calendar.png
src/assets/icons/apple_clock.png
src/assets/icons/apple_feedback_assistant.png
src/assets/icons/apple_files.png
src/assets/icons/apple_home.png
src/assets/icons/apple_itunes_store.png
src/assets/icons/apple_mail.png
src/assets/icons/aquamail.png
src/assets/icons/best_buy.png
src/assets/icons/bluesky.png
src/assets/icons/boo.png
src/assets/icons/dark_mode.png
src/assets/icons/dhl_paket.png
src/assets/icons/google_inbox.png
src/assets/icons/google_lens.png
src/assets/icons/google_maps.png
src/assets/icons/google_stack.png
src/assets/icons/ivoox.png
src/assets/icons/pinnit.png
src/assets/icons/samsung_galaxy_gift.png
src/assets/icons/samsung_print_service_plugin.png
src/assets/icons/samsung_smart_tutor.png
src/assets/icons/tu_dien_tflat.png
src/assets/icons/yahoo_finance.png
src/assets/icons/yandex_weather.png
