.achievements-container {
    margin-top: 6rem;
    font-family: sf;
    
    margin: auto;
    margin-top: 5rem;
}

.milestone-item {
    border:2px solid #3b3b3b;
    border-radius: 6px;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    width: 15rem;
    display: inline-block;
    margin-right: 0.75rem;
    /* border-top-right-radius: 60px; */
}
.milestone-star {
    font-family: sf-mono;
    padding-right: 0.7rem;
}

.milestones-done-section {
    width: 95vw;
    height: 10rem;
    overflow-x: scroll;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
      };
    margin-bottom: 2rem;
}


.upcoming {
    opacity: 0.5;
}
.upcoming .milestone-item {
    width: 97%;
}
.upcoming .milestone-value {
    border-bottom:none;
    padding-bottom: 0.6rem;
    /* text-align: center; */
}
.upcoming .milestone-date {
    display: none;
}

.milestone-value {
    display: block;
    font-size: 1.3em;
    border-bottom: 2px solid #2a2a2a;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.75rem;
    font-family: sf-semi;
}
.milestone-date {
    display: block;
    padding-left: 1rem;
    font-size: 0.8em;
    padding-top: 0.7rem;
    opacity: 0.5;
}

.achieved {
    border: 2px solid gold;
}
.achieved.common {
    border: 2px solid silver;
}
.achieved.uncommon {
    border: 2px solid gold;
    /* box-shadow: 0px 0px 12px #4c482e; */
}
.achieved.rare {
    border: 2px solid darkviolet;
    box-shadow: 0px 0px 16px #432e4c;
}
.achieved .milestone-star {
    color:#040405;
}
.achieved .milestone-value {
    padding-top: 1.75rem;
    border-bottom: 2px solid;
    color:#040405;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.achieved.common .milestone-value {
    background-color: silver;
    border-bottom-color: silver;
}
.achieved.uncommon .milestone-value {
    background-color: gold;
    border-bottom-color: gold;
}
.achieved.rare .milestone-value {
    background-color: blueviolet;
    border-bottom-color: blueviolet;
}
.achieved.common .milestone-date {
    color: silver;
}
.achieved.uncommon .milestone-date {
    color: gold;
}
.achieved.rare .milestone-date {
    color: blueviolet;
}