@font-face {
    font-family: sf;
    src: url('../assets/sf-regular.otf');
}
@font-face {
    font-family: sf-med;
    src: url('../assets/sf-med.otf');
}
@font-face {
    font-family: sf-semi;
    src: url('../assets/sf-semi.otf');
}
@font-face {
    font-family: sf-mono;
    src: url('../assets/sf-mono.otf');
}
@font-face {
    font-family: sf-mono-med;
    src: url('../assets/sf-mono-med.otf');
}

.day-grid-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sf;
}

.day-grid-date-selector {
    display: flex;
    justify-content: space-between; 
    align-items: end; 
}
.day-grid-date-selector p {
    margin: 0;
    text-align: center;
}
.day-grid-date-selector button {
    background-color: transparent;
    outline: none;
    border:none;
    color:white;
    font-family: sf-mono;
    width: 2.25rem;
}
.day-grid-date-selector .prev {
    text-align: left;
}
.day-grid-date-selector .next {
    text-align: right;
}
.month-total-steps {
    font-size: 0.8em;
    color: #666;
    margin-top: 0.3rem !important;
}
.day-grid-both-divs {

}
.day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 5px; */
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
.day-grid-days-label {
    font-size: 0.5em;
    opacity: 0.6;
    margin-top: 0;
    margin-bottom: 0;
}
.day {
    padding: 0;
    font-size: 1.75em;
}

.day-details {
    /* flex: 1, fontSize: '16px', textAlign: 'left' */
    height: 5rem;
    /* background-color: #0b0b0e; */
    border-radius: 5px;
    width: 94%;
    margin:auto;
    margin-top: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}
.day-details p {
    color:#8f8f8f;
    margin-top: 0;
}
.day-details p span {
    margin-right: 0.5rem;
    opacity: 0.5;
    font-family: sf-mono;
}
.day-details-top-row {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.day-details-top-row .weather-icon {
    margin-right: 0.33rem;
}
.day-details-milestone {
    color: gold !important;
    font-family: sf-med;
    margin-bottom: 0.5rem;
}
.day-details-badge p {
    margin-bottom: 0.5rem;
}
.day-details-badge span {
    margin-right: 0.75rem !important;
}
