.title-bar-nav {
    font-family: sf;
    color: #8f8f8f;
    overflow: scroll;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    height: 2rem;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
      };
}
.title-bar-nav p {
    display: inline-block;
    margin: 0;
    margin-right: 2rem;
}
.title-bar-nav a {
    color:rgb(158, 158, 158);
    text-decoration: none;
}