/* .recorder {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.recorder__map {
  flex: 1;
} */
@font-face {
    font-family: sf;
    src: url('../assets/sf-regular.otf');
}
@font-face {
  font-family: hk-square;
  src: url('../assets/hk-square.woff2');
}
@font-face {
  font-family: digital7;
  src: url('../assets/digital-7.ttf');
}

.mapboxgl-map {
    height: 50vh;
}
.mapboxgl-canvas-container {
  height: 50vh;
}
.mapboxgl-canvas-container canvas {
    height: 50vh;
}

.recorder__info {
  
}
.recorder__info span {
  font-family: sf;
  font-size: 0.8em;
  opacity: 0.5;
}
.recorder__info p {
  font-family: sf;
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-top: 0.15rem;
}
.recorder__info p span {
  font-family: digital7;
  padding-left: 0.25rem;
  opacity: 0.8;
}
.infobox {
  text-align: center;
}
.infobox p {
  position: relative;
  z-index: 1;
}
/* .infobox.time p::before {
  content: "8:88:88";
  font-family: digital7;
  opacity: 0.15;
  position: absolute;
  z-index: 0;
}
.infobox.distance p::before {
  content: "88.8";
  font-family: digital7;
  opacity: 0.15;
  position: absolute;
  z-index: 0;
}
.infobox.elevation p::before {
  content: "888";
  font-family: digital7;
  opacity: 0.15;
  position: absolute;
  z-index: 0;
} */

.row:first-of-type {
  margin-top: 1rem;
}
.row {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap;
  width: 100%; */
  margin-top: 0.5rem;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%;
  flex: 1; */
  width: 9rem;
}


.recorder__controls {
  /* padding: 10px; */
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 2rem;
}
.recorder__controls span {
  font-family: sf-mono;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.recorder__button {
  height: 3.33rem;
  border-radius: 30px;
  cursor: pointer;
  font-family: sf;
}

.recorder__button--start,
.recorder__button--resume,
.recorder__button--pause,
.recorder__button--stop {
  color: #fff;
  border: none;
}

.start-button-div {

}
.start-button-div p {
  font-family: sf;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.9em;
  display: none;
}
.recorder__button--start { 
  background-color: #1a2900;
  color: #a8fc01;
  width: 15rem;
}

.recorder__button--resume {
  width: 8.5rem;
  background-color: #1a2900;
  color: #a8fc01;
  border-top-right-radius: 0;
  /* background-color: #043538 042a2c; 
  color: #02d4d9;  */
}
.recorder__button--pause { 
  width: 8.5rem;
  background-color: #042a2c;
  color: #02d4d9;
  border-top-right-radius: 0;
}
.recorder__button--stop {
  width: 8.5rem;
  background-color: #2a1006; 
  color:#dd5240;
  border-top-left-radius: 0;
}


.cancel-div {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 1.75rem;
}
.recorder__button--cancel {
  border: 1px solid #dd5240;
  color: #dd5240;
  width: 6rem;
  font-size: 1.5em;
  font-family: 'sf-mono';
  padding-right: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 3rem;
  border-left: none;
}


