.walk-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: var(--theme-bg);
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.walk-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

.stat-value {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--theme-day-filled);
  margin-bottom: 5px;
  font-family: 'sf';
}

.stat-label {
  font-size: 0.9em;
  color: var(--theme-text);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'sf';
}
