.level-progress-container {
    width: 100%;
    position: relative;
    background-color: #0a1626;
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
}

.level-progress-bar {
    position: absolute;
    height: 100%;
    background-color: #112540;
    transition: width 0.3s ease;
}

.level-progress-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

.current-level {
    padding-left: 1rem;
    color:#4493f8;
}
.current-level span {
    padding-right: 0.2rem;
    font-family: sf-mono;
}
.next-level {
    padding-right: 1rem;
    color:#4493f8;
}
.next-level span {
    padding-right: 0.2rem;
}
.current-level, .next-level {
    font-family: sf-mono;
}

.total-steps {
    font-family: sf;
    text-align: center;
    color:#4493f8 ;
    font-size: 1.1em;
}

.total-steps span {
    font-family: sf-semi;
}